.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    @include respond(tab-port) {
        padding: 8rem 0;
    }
   
  
    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }


&__logo {
    width: 7rem;
    height: auto;
}


   &__navigation {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
        width: 100%;
        text-align: center;
    }
}

&__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
        margin-bottom: 6rem;
    }
}

&__list {
    list-style: none;
}

&__item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }
}

&__link {
    &:link,
    &:visited {
        color: $color-grey-light-1;
        background-color: $color-grey-dark-3;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        transition: all .2s;
    }

    &:hover,
    &:active {
        color: $color-primary;
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        transform: rotate(5deg) scale(1.3);
    }
}

&__copyright {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {
        width: 100%;
        float: none;
    }
}

&__social {
    display: flex;
    // border-top: 1px solid;     
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
    color: $color-tertiary-light;

    @include respond(tab-port) {
        width: 100%;
        text-align: center;
    }
  &.fab {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: $color-secondary-light;
      }
    }
}
}  




/* Extra stuff just to make the demo pretty. */




// a {
//   color: #4183c4;
//   text-decoration: none;
  
//   &:hover {
//     color: lighten(#4183c4, 15%);
//   }
// }
 